body{
    background-color: pink;
    margin: 10px;
}

header{
    background-color: orange;
    text-align: center;
    padding: 15px;
}
nav{
    background-color: blue;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: aqua;
    color: black;
  }

  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: orange;
    border-radius: 10px;

  }

  nav ul li {
    margin-right: 10px;
    border: 1px solid white;
    padding: 5px;
    background-color: green;
    border-radius: 10px;
}

.rectangle {
    width: 200px;
    height: 150px;
    border: 2px solid red;
    background-color: red;
    border-radius: 20px;
    position: absolute;
    top: 250px;
    right: 150px;
}